<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forget.css"> <!-- Add a CSS file for styling -->
</head>
<body>
    <h1>Forgot Password</h1>
    <form action="resetpassword.php" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Reset Password">
    </form>
    <p>Remember your password? <a href="/">Login</a></p> 
    <p>Don't have an account? <a href="/signup">Sign up</a></p> 
</body>
</html>
