
<h1>LOGIN USER DETAILS</h1>

<% if(flash.success && flash.success.length >0){ %>

    <h1 style="color: aqua;">
       <%= flash.success %>
    </h1>

<% } %>

Name:  <%= data.username %><br>
Mobile:<%= data.mobile %><br>
Email:<%= data.email %>
