
<form action="/update/change" method="post">

 <label>Email</label>
 <input type="email" placeholder="Enter Email" name="email" >

 <label>Enter the new Password</label>
 <input type="text" name="oldpass" placeholder="Old Password" required >
 <label> Enter the New password </label>
 <input type="text" name="password" placeholder="password">
 <input type="submit" value="Update">



</form>